<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> o HTML <em>(Hyper Text Markup Language)</em> é a base fundamental<br>
    da construção de páginas na <em>web</em>.Ao longo dos anos,essa linguagem<br>
    tem evoluido  <strong><u>significativamente,</u></strong> tornando-se mais <strong><em>robusta</em></strong> e capaz<br>
    de lidar com a crescente demanda por conteúdos dinâmicos e interativos.<br>
    Entender <strong><abbr title="Hyper Text Markup Language">HTML</abbr></strong> é essencial para qualquer pessoa que deseje se aventurar<br>
    no mundo do desenvolvimento <em>web.</em></p>

</body>
</html>