
<!--Importar o layout do tamplete-->
{% extends 'template.html' %}

<!--Define o bloco onde o conteudo sera exibido-->
{% block conteudo %}
<h1>Exercícios</h1>

<div class="main">
    <div class="exercicios">
        <h1>08-08</h1>
        <a href="{{ url_for('Curriculo') }}">Execicio 1</a>
        <a href="{{ url_for('Ex1') }}">Exercicio 2</a>
        <a href="{{ url_for('Ex2') }}">Exercicio 3</a>
        <a href="{{ url_for('Ex3') }}">Exercicio 4</a>
    </div>

    <div class="exercicios">
        <h1>16-08</h1>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/16-08/Ex1.html?_ijt=tqj6pvbtc54760c8lecu4qdfi0">Exercicio</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/16-08/Ex2.html?_ijt=tqj6pvbtc54760c8lecu4qdfi0">Exercicio 2></a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/16-08/Ex3.html?_ijt=32afe66bc7nab54fljj5cb80a6">Exercicio 3</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/16-08/Ex4.html?_ijt=32afe66bc7nab54fljj5cb80a6">Exercicio 4</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/16-08/Ex5.html?_ijt=dt9vch0hs88ec39ei4kbhn4kir">Exercicio 5</a>
    </div>

    <div class="exercicios">
        <h1>22-08</h1>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/Ex1.html?_ijt=7ltp9b2entjhi495hoq1k9p2jt">Exercicio 1</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/Ex2.html?_ijt=7ltp9b2entjhi495hoq1k9p2jt">Exercicio 2</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/Ex3.html?_ijt=rkibrpsh00pnol4l8c5akdr28">Exercicio 3</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/Ex4.html?_ijt=rkibrpsh00pnol4l8c5akdr28">Exercicio 4</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/Ex5.html?_ijt=6o304e55nscvvhelavhfis7uhk">Exercicio 5</a>
    </div>

    <div class="exercicios">
        <h1>29-08</h1>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/Ex1.html?_ijt=vn70rri97u46bho6vqaeu239u9">Exercicio 1</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/Ex2.html?_ijt=vn70rri97u46bho6vqaeu239u9">Exercicio 2</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/Ex3.html?_ijt=qpcef1cd6ql7tq464d4152oefc">Exercicio 3</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/Ex4.html?_ijt=qpcef1cd6ql7tq464d4152oefc">Exercicio 4</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/Ex5.html?_ijt=4h3f3suftl20c4u03ic9r7a8sa">Exercicio 5</a>
    </div>

    <div class="exercicios">
        <h1>20-09</h1>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/Ex1.html?_ijt=64takmqaurbp4v2to7edhnsrd5">Exercicio 1</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/Ex2.html?_ijt=64takmqaurbp4v2to7edhnsrd5">Exercicio 2</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/Ex3.html?_ijt=4t55vbqp5f3plql5iihbo5jvos">Exercicio 3</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/Ex4.html?_ijt=onnfmsfhki246e2glnq28dnnk4">Exercicio 4</a>
    </div>

    <div class="exercicios">
        <h1>27-09</h1>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/27-09/Ex1.html?_ijt=n7e0umghut5ikeftkt98gam6l4">Exercicio 1</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/27-09/Ex2.html?_ijt=n7e0umghut5ikeftkt98gam6l4">Exercicio 2</a>
        <a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/27-09/Ex3.html?_ijt=n7e0umghut5ikeftkt98gam6l4">Exercicio 3</a>
        <a href="">Exercicio 4</a>
    </div>


</div>

{% endblock %}
