<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tags de texto</title>
</head>
<body>
<p>Isso é um parágrafo</p>
<h1>Isso é um cabeçalho 1</h1>
<h2>Isso é um cabeçalho 2</h2>
<h3>Isso é um cabeçalho 3</h3>
<h4>Isso é um cabeçalho 4</h4>
<h5>Isso é um cabeçalho 5</h5>
<h6>Isso é um cabeçalho 6</h6>

<p>Esse é um texto em <strong>negrito</strong></p>
<p>Esse é um texto em <em>itálico</em></p>
<p>Esse é um texto em<strong><em>italico e em negrito</em></strong></p>
<p>Esse é um texto <u>sublinhado</u></p>

<p>Essa é a primeira linha<br>Essa é a segunda linha</p>

<p>Essa é a primeira linha</p>
<hr>
<p>Essa é a segunda linha</p>

<p>Esse é um texto em <mark>grifado</mark></p>

<p>Esse é um texto <small>menor</small></p>

<p>Esse é um texto <del>riscado</del></p>

<p>Esse é um texto que esta <sup>acima</sup></p>

<p>Esse é um texto que esta <sub>abaixo</sub></p>

<p>Esse é um texto com a fonte <code>mudada</code></p>

<p>Estudei no <abbr title="Instituto Federal de São Paulo">IFSP</abbr></p>

<hr>

<p>Lista sem ordenação</p>
<ul>
    <li>Item da lista</li>
    <li>Item da lista</li>
    <li>Item da lista</li>
</ul>

<p>Lista Enumerada</p>
<ol>
    <li>Item enumerado</li>
    <li>Item enumerado</li>
    <li>Item enumerado</li>
</ol>

<hr>

<a href="https://www.youtube.com">Link na mesma aba</a>
<br>
<a href="https://www.google.com" target ="_blank">Link nova aba</a>
<br>
<a href="https://www.google.com" target ="_blank" title="Google">Link nova aba</a>


</body>
</html>